.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "26592"}  
        = @group.name
      %ul.main-header__left-box__member-list
        member:
        - @users.each do |user|
          =user.name
    .main-header__edit-btn 
      =link_to edit_group_path(@group), class:"edit-btn" do
        EDIT
  .message
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'form-message', placeholder: 'type a message'
        = f.label :image, class: 'input' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit'Send', class:'form_submit'
